* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;

}

.search-header {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;

}

.main {
    flex: 1;
}

.logo {
    display: flex;
    justify-content: center;
    padding-top: 109px;
}

#google-logo {
    align-self: flex-start;
    width: 110px;
    margin: 10px 30px 0 20px;
}

.search-bar {
    position: relative;
}

#google-search-bar {
    width: 700px;
    height: 46px;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    border: 1px solid #e1e2e6;
}
#microphone {
    position: absolute;
    right: 3.5em;
    top: 5px;
}
#search-icon {
    position: absolute;
    right: 1em;
    top: 7px;
}
#search-icon {
    position: absolute;
    right: 1em;
    top: 7px;
}
#google-menu {
    margin-left: auto;
    margin-right: 1em;  
}
#google-menu img {
    border: 7px solid white;
}
#google-menu img:hover {
    border: 7px solid #e1e2e6;
    border-radius: 50%;
}
#google-account img{
    margin-right: 1em;
    border: 3px solid white;
}
#google-account img:hover {
    border: 3px solid #e1e2e6;
    border-radius: 50%;
}
.top-nav {
    position: relative;
}
.top-nav ul {
    position: relative;
    top: -20px;
    margin-left: 160px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.top-nav li {
    list-style: none;
    padding: 1em;
}
.top-nav a {
    text-decoration: none;
    color: #5f6268;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
}
.top-nav img {
    float: left;
}
.top-nav li:first-child a:first-child {
    color: #1d74e8;
}
#last-second-item {
    margin-left: 40px;
}
.navigation-line {
    position: relative;
    top: -23px;
    width: 55px;
    border: 2px solid #1a72e8;
    margin-left: 166px;
}
.horizontal-line {
    position: relative;
    top: -25px;
    border-top: 1px solid rgba(235,235,235, 0.25);
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    padding:  0 0 15px;
    margin-left: 15px;
}

nav li.last-item {
    margin-right: 15px;
}


a {
    text-decoration: none;
    font-family: arial, sans serif;
    font-size: 13px;
    color: #343536;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: underline;
}

li {
    list-style-type: none;
}

.search {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    
}
.search-box {
    width: 400px;
    border: 1px solid lightgray;
    border-radius: 25px;
    height: 25px; 
}

.icon {
    margin-left: 10px;
    margin-right: 10px;
    width: 22px;
    height: 22px;
}

#button-container {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

button {
    background-color: #F2f2f2;
    border: 1px solid #F2f2f2;
    border-radius: 4px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    font-family: arial, sans serif;
    font-size: 14px;
    color: #5f6368   
}

button:hover {
    color: black;
    border: 1px solid #5f6368;
}


footer ul {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    height: 40px;
}

footer li {
    padding: 0 0px 0 15px;

}

footer li.last-item {
    margin-right: 15px;
}

.grid-img {
    height:25px;
    width: 25px;
    opacity: 0.55;
    align-items: center;
}

 button.sign-in {
     border-color:#4285f4;
     background-color: #4285f4;
     border-radius: 2px;
     display: flex;
     align-items: center;
     font: white;
     color: white;
     font-weight: bold;
     height: 28px;
     margin-top: 10px;
 }
 .right {
    margin-left: auto;
    padding-right: 0px;
}
